@charset "UTF-8";

/* MOBILE FIRST */

:root {
    --cor1: #40300C;
    --cor2: #716237;
    --cor3: #DAB870;
    --cor4: #F2D68C;
    --fonte1: 'Adobe Clean UX', sans-serif;
    --fonte2: 'Work Sans', sans-serif;

}

::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }

@import url('https://fonts.cdnfonts.com/css/adobe-clean');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* PAGINA PRINCPAL */
* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    box-sizing: border-box;
    background-color: var(--cor2);
}

header {
    background-color: var(--cor1);
    text-align: center;
    height: 220px;
    border-bottom: 1px solid black;
}

header > img {
    width: 195px;
    margin: auto;
    padding-top: 15px;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
}

menu {
    background-color: var(--cor1);
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}

menu > ul > li {
    
    list-style-type: none;
    padding: 10px;
    
}

menu > ul > li > a {
    margin: auto;
    text-decoration: none;
    color: black;
    background-color: var(--cor3);
    padding: 8px;
    border-radius: 5px;
    width: 150px;
    display: block; 
}

main > section > h1 {
    font-family: var(--fonte1);
    font-weight: bolder;
    font-size: 26pt;
    text-align: center;
    margin-top: 10px;
}

main > section#sec1 > article#art1 {
    margin-top: 10px;
    text-align: center;
}

menu {
  display: none;
}

span#burguer {
    background-color: var(--cor2);
    display: block;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid black;
}

img.brinq {
    margin-top: 20px;
    width: 250px;
    border: 2px solid black;

}

img.brinq1 {
    margin-top: 20px;
    width: 250px;
    border: 2px solid black;
}

main > section#sec1 > article#art1 p {
    font-family: var(--fonte2);
}

.sec1 {
    margin-top: 20px;
}

footer > ul > li {
  text-align: center;
  background-color: var(--cor1);
  padding: 10px;
}

footer > ul > li > a {
  color: white;
  text-decoration: none;
}

footer > p {
  text-align: center;
  margin-top: 10px;
  color: white; 
}


